extends layout

block content
  #LoginContainer.container
      .card.card-container
        form.form-signin
          input#userName.form-control(type='text', name='userName', placeholder='Enter Username', required='', autofocus='')
          |                                   
          |                   
          button#userName_Submit.btn.btn-lg.btn-primary.btn-block.btn-signin(type='submit', onclick='onClickSubmit()') Sign in
  
  .outer_structure
    .chat_box(style='width: 75%;float:left; padding-right: 10px')
       #ChatContainer.container-fluid
         .row
         
          .panel.panel-primary
            .panel-heading
              span.glyphicon.glyphicon-comment
              |  Chat Window
            |          
            .panel-body
              ul#chatWindow.chat
              |            
            .panel-footer
                .input-group
                  input#btn-input.form-control.input-sm(type='text', placeholder='Type your message here...')
                  |                         
                  span.input-group-btn
                    button#btn-chat.btn.btn-warning.btn-sm
                      | Send
      .online_users(style='width: 25%; float: right;')
          ul#ListOfOnlineUsers.list-group(style='  overflow: auto; word-wrap: break-word; height:100%')                    
          
          
block scripts
  script(src='/javascripts/jquery.min.js')
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/client.js')
  script(src='/javascripts/bootstrap.js')